{% extends "wrapper.twig" %}

{% block sidebarmenu %}
    {% include "sidebarmenu.twig" %}
{% endblock %}

{% block navigationhead %}
    {% include "navigationhead.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ hosts|length|default('0') }}</h3>

                    <p>Agents</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-gear-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            {% if package_to_update < 5  %}
            <div class="small-box bg-green">
            {% elseif package_to_update < 20  %}
            <div class="small-box bg-yellow">
            {% else  %}
            <div class="small-box bg-red">
            {% endif  %}
                <div class="inner">
                    <h3>{{ package_to_update }}</h3>

                    <p>Package to Update</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            {% if nb_vulnerabilities == 0  %}
            <div class="small-box bg-green">
            {% elseif nb_vulnerabilities <= 4  %}
            <div class="small-box bg-yellow">
            {% else %}
            <div class="small-box bg-red">
            {% endif  %}
                <div class="inner">
                    <h3>{{ nb_vulnerabilities }}</h3>

                    <p>Detected Vulnerabilities</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
            </div>
        </div>
    <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    {% if global_security > 95  %}
    <div class="small-box bg-green">
        {% elseif global_security > 80  %}
        <div class="small-box bg-yellow">
            {% else  %}
            <div class="small-box bg-red">
                {% endif  %}
                <div class="inner">
                    <h3>{{ global_security }}<sup style="font-size: 20px">%</sup></h3>

                    <p>Global Security</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Installed agents</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>Agent name</th>
                        <th>IP</th>
                        <th>Vulnerabilities</th>
                        <th>Updates</th>
                        <th>Security</th>
                        <th>Trend</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if hosts %}
                        {%  for host in hosts %}
                    <tr>
                        <td><a href="{{ path('agent', {'id': host.host}) }}">{{ host.agent }}</a></td>
                        <td>{{host.host}}</td>
                        {% if host.vulnerabilitiesCount == 0 %}
                            <td><span class="label label-success">{{host.vulnerabilitiesCount}}</span></td>
                        {% elseif host.vulnerabilitiesCount <= 4 %}
                            <td><span class="label label-warning">{{host.vulnerabilitiesCount}}</span></td>
                        {% else %}
                            <td><span class="label label-danger">{{host.vulnerabilitiesCount}}</span></td>
                        {% endif %}


                        {% if host.requiredUpdatesCount < 5 %}
                            <td><span class="label label-success">{{host.requiredUpdatesCount}}</span></td>
                        {% elseif host.requiredUpdatesCount < 20 %}
                            <td><span class="label label-warning">{{host.requiredUpdatesCount}}</span></td>
                        {% else %}
                            <td><span class="label label-danger">{{host.requiredUpdatesCount}}</span></td>
                        {% endif %}

                        {% if host.rate > 90 %}
                            <td><span class="label label-success">{{host.rate}} %</span></td>
                        {% elseif host.rate > 70 %}
                            <td><span class="label label-warning">{{host.rate}} %</span></td>
                        {% else %}
                            <td><span class="label label-danger">{{host.rate}} %</span></td>
                        {% endif %}

                        <td>
                            {% if host.trend > 0 %}
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            {% elseif host.trend < 0 %}
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            {% endif %}
                        </td>
                    </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
    </div>

{% endblock %}